<script type="text/javascript">
    $(document).ready(function () {
        $("#mymetrocontainer").metroContainer({
            backgroundColor: "black"
        });
    })
</script>
<div style="top: 0px; position: relative; left: 155px" width="100px" height="100%">
    <div id="mymetrocontainer" width="100px" colcount="4" boxheight="100px">
        <div id="metro-box-3" backgroundcolor="metroGreen" title="Serialize" url="~/Data/ConvertTo.html">
            <span>Converts Object to Xml using Serialization</span>
        </div>
        <div id="metro-box-1" backgroundcolor="maroon" title="Convert To" url="~/Data/toxml.html">
            <span>Converts Xml String to Object using Deserialization</span>
        </div>
        <div id="metro-box-2" backgroundcolor="metroBlue" title="Encryption" url="~/Data/Encrypt.html">
            <span>Encryption made easy</span>
        </div>
        <div id="metro-box-4" backgroundColor="metroOrange" title="Encrypting Data"   url="~/Data/Encryption.html">
					<span> Encryption made easy </span>
				</div>
				@*<div id="metro-box-5" backgroundColor="metroPink" title="Metro Box 5"   url="http://localhost:8080/hello/i">
					<span> Updates going through me </span>
				</div>
				<div id="metro-box-6" backgroundColor="metroPurple" title="Metro Box 6"   url="http://localhost:8080/hello/i">
					<span> Updates going through me </span>
				</div>
				<div id="metro-box-7" backgroundColor="metroRed" title="Metro Box 7"   url="http://localhost:8080/hello/i">
					<span> Updates going through me </span>
				</div>
				<div id="metro-box-8" backgroundColor="metroYellow" color="black" title="Metro Box 8"   url="http://localhost:8080/hello/i">
					<span> Updates going through me </span>
				</div>
				<div id="metro-box-9" backgroundColor="metroBlue" title="Metro Box 9"   url="http://localhost:8080/hello/i">
					<span> Updates going through me </span>
				</div>*@
        <!--<div id="metro-box-10" backgroundColor="metroNavy" title="Metro Box 10"   url="http://localhost:8080/hello/i">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-11" backgroundColor="metroOrange" title="Metro Box 11"   url="http://localhost:8080/hello/i">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-12" backgroundColor="metroPink" title="Metro Box 12"   url="http://localhost:8080/hello/i">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-13" backgroundColor="metroPurple" title="Metro Box 13"   url="http://localhost:8080/hello/i">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-14" backgroundColor="metroRed" title="Metro Box 14"   url="http://localhost:8080/hello/i">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-15" backgroundColor="metroBlue" title="Metro Box 15"   url="http://localhost:8080/hello/i">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-16" backgroundColor="metroGreen" title="Metro Box 16">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-17" backgroundColor="metroNavy" title="Metro Box 17">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-18" backgroundColor="metroPink" title="Metro Box 18">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-19" backgroundColor="metroPurple" title="Metro Box 19">
				<span> Updates going through me </span>
				</div>
				<div id="metro-box-20" backgroundColor="metroRed" title="Metro Box 20">
				<span> Updates going through me </span>
				</div>-->
    </div>
</div>
